<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Admin</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />




  <link rel="stylesheet" href="css/css-circular-prog-bar.css">


</head>

<body class="sub_page">
  <div class="top_container ">
    <!-- header section strats -->
    <%- include('partical/menuadmin'); %>
  </div>
  <!-- end header section -->

  <div class="common_style">

    <!-- why section -->
    <section class="client_section layout_padding">
        <h2 class="">
          Testimonial
        </h2>
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-md-3">
                            <div class="client_img-box">
                              <img src="images/cuong.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-md-9">
                            <div class="client_detail-box">
                              <h5>
                                Nguyen Tan Quoc Cuong
                              </h5>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                              </p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-md-3">
                            <div class="client_img-box">
                              <img src="images/cong.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-md-9">
                            <div class="client_detail-box">
                              <h5>
                                Do Quoc Cong
                              </h5>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                              </p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-md-3">
                            <div class="client_img-box">
                              <img src="images/minh.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-md-9">
                            <div class="client_detail-box">
                              <h5>
                                Nguyen Hoang Minh
                              </h5>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                              </p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
        </div>
      </section>


    <!-- end why section -->

  </div>


  <!-- info section -->


</body>

</html>