<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Image and text -->
    <header>
        <nav class="navbar navbar-light  bg-info justify-content-between">
            <h4 class="navbar-brandy text-white"><b>CCM EDUCATION</b></h4>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-white my-2 my-sm-0 text-white" type="submit">Tìm kiếm</button>
            </form>
        </nav>
    </header>
    <div class="container mt-4 p-4">
        <div class="row row-cols-1 row-cols-md-2">
            <% exam.forEach((exam) => { %>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <form class="card" method="GET" action="/views/exam.ejs">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= exam.name%>
                            </h5>
                            <p class="card-text">
                                <%= exam.percentComplete %>
                            </p>
                            
                        </div>
                    </form>
                </div>
                <%})%>

        </div>
    </div>

    <div id="fh5co-section" class="fh5co-grey-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <div class="fh5co-inner">
                        <i class="icon-shield"></i>
                        <div class="holder-section">
                            <h3>About Us</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="fh5co-inner">
                        <i class="icon-strategy"></i>
                        <div class="holder-section">
                            <h3>What We Doe</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="fh5co-inner">
                        <i class="icon-bike"></i>
                        <div class="holder-section">
                            <h3>Why We Choose Us</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p>Copyright 2016 Free Html5 <a href="#">Narrow</a>. All Rights Reserved. <br>Made with <i class="icon-heart3 love"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
                        <p class="fh5co-social-icons">
                            <a href="#"><i class="icon-twitter-with-circle"></i></a>
                            <a href="#"><i class="icon-facebook-with-circle"></i></a>
                            <a href="#"><i class="icon-instagram-with-circle"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- END: box-wrap -->

<!-- jQuery -->
<script src="public/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="public/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="public/js/bootstrap.min.js"></script>
<!-- Owl carousel -->
    <script src="public/js/owl.carousel.min.js"></script>
<!-- Waypoints -->
<script src="public/js/jquery.waypoints.min.js"></script>
<!-- Parallax Stellar -->
<script src="public/js/jquery.stellar.min.js"></script>

<!-- Main JS (Do not remove) -->
<script src="public/js/main.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>