<a href="https://zalo.me/0935268359" target="_blank" rel="noopener" class="zalo-chat">
    <img src="https://cdn2.cellphones.com.vn/x/media/icons/icon-zalo.png" alt="Zalo Button">
</a>

<a href="https://m.me/102452459355964" target="_blank" rel="noreferrer" data-content-region-name="quickAction" data-track-content="true" data-content-name="fbMessengerIcon" class="css-1vv2dga">
    <img class="fb-chat-full" src="https://shopfront-cdn.tekoapis.com/static/3ad4c9a97ab98ff3.png" alt="fb-chat">
</a>